table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

#resultsList tr:nth-child(even) {
  background-color: #eee;
}

#resultsList tr:nth-child(odd) {
 background-color: #fff;
}

#restaurantDataTable {
  margin-top: 10px;
}

input{
  padding: 5px;
  margin-top: 10px;
}

#displayRestaurants {
  margin-right: 20px;
}

#searchFormInput {
  margin-right: 20px;
}